.main {
  position: relative;
}

.todo-list {
  list-style: none;
}

.toggle-all {
  opacity: 0;
  position: absolute;
}

.toggle-all-label {
  position: absolute;
  left: 24px;
  top: -40px;
  opacity: .2;
  font-size: 1.5rem;
  transform: rotate(90deg);
}

.toggle-all-label::before {
  content: '❯';
}

.toggle-all-label-all {
  opacity: 1;
}